<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>adminUser</param-name>
        <param-value>administrator</param-value>
    </context-param>
    <context-param>
        <param-name>adminPass</param-name>
        <param-value>javapass</param-value>
    </context-param>
    <context-param>
        <param-name>adminName</param-name>
        <param-value>Adicus minnie Strator</param-value>
    </context-param>
    <context-param>
        <param-name>FacilitatorUser</param-name>
        <param-value>fancygirl</param-value>
    </context-param>
    <context-param>
        <param-name>FacilitatorPass</param-name>
        <param-value>javapass</param-value>
    </context-param>
    <context-param>
        <param-name>FacilitatorName</param-name>
        <param-value>Fancy Girl</param-value>
    </context-param>
    <context-param>
        <param-name>Committee</param-name>
        <param-value>1,2,3,4,5</param-value>
    </context-param>
    <context-param>
        <param-name>memberUser</param-name>
        <param-value>mambocombo</param-value>
    </context-param>
    <context-param>
        <param-name>memberPass</param-name>
        <param-value>javapass</param-value>
    </context-param>
    <context-param>
        <param-name>memberName</param-name>
        <param-value>Manfred (mambo) Combination</param-value>
    </context-param>
    <context-param>
        <param-name>gallery</param-name>
        <param-value>/WEB-INF/views</param-value>
    </context-param>
    <context-param>
        <param-name>CommitteeName</param-name>
        <param-value>First Monday,Second Monday,Third Monday,Fourth Monday,Fifth Monday</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.tommythegeek.sackLunch.listeners.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>go</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.go</servlet-class>
        <init-param>
            <param-name>aParam</param-name>
            <param-value>one</param-value>
        </init-param>
        <init-param>
            <param-name>bParam</param-name>
            <param-value>two</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chooseGroup</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.chooseGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMember</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.updateMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemManager</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.itemManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateItem</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.updateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuSel</servlet-name>
        <servlet-class>com.tommythegeek.sackLunch.controller.menuSel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>go</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chooseGroup</servlet-name>
        <url-pattern>/chooseGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMember</servlet-name>
        <url-pattern>/updateMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemManager</servlet-name>
        <url-pattern>/itemManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateItem</servlet-name>
        <url-pattern>/updateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuSel</servlet-name>
        <url-pattern>/menuSel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
